@model IEnumerable<PoshakMonix.Models.Entities.SliderImage>

@{
    ViewData["Title"] = "عکس های اسلایدر";
}

<h2>عکس های اسلایدر</h2>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">عکس های اسلایدر</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active"> <a asp-action="Index" asp-controller="Home" asp-area="Admin">مدیریت</a> </li>
                        <li class="breadcrumb-item active">عکس های اسلایدر</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="container-fluid">
        <div class="row">
            <p>
                <a asp-action="Add">اضافه کردن</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>دستورات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img href="~/ProductImages/@item.Image" />
                            </td>
                            <td>
                                <form method="post" asp-action="Delete">
                                    <input type="hidden" value="@item.Id" name="id" />
                                    <input type="submit" value="حذف" class="btn btn-danger"/>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>