@model AddRoleViewModel

@{
    ViewData["Title"] = "افزودن نقش";
}

<h2>افزودن نقش</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافه کردن" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

