@model List<IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Add">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                عملیات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <form method="post" asp-action="Delete">
                    <input type="hidden" value="@item.Id"/>
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
