@model LoginViewModel;
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/tailwind.css" />
    <title>ورود</title>
</head>
<body>
    <div class="site z-0 flex flex-col h-full">
        <div class="z-20 register-form py-10 mx-auto w-11/12 sm:w-5/12 rounded-2xl shadow-lg bg-gray-100">
            <h1 class=" text-gray-900 text-2xl font-bold text-center">ورود</h1>
            <form class="form w-auto h-full" method="post">
                <input placeholder="نام کاربری یا ایمیل" asp-for="UserNameOrEmail" class="focus:shadow-xl block pr-4 w-9/12 my-6 mx-auto h-12 text-sm border-solid border-2 border-gray-400 rounded-2xl placeholder-gray-400 ">
                <input placeholder="رمز عبور" asp-for="Password" class="focus:shadow-xl block pr-4 w-9/12 my-6 mx-auto h-12 text-sm border-solid border-2 border-gray-400 rounded-2xl placeholder-gray-400">
                <div class="mr-20">
                    <input asp-for="RememberMe" class="" rounded-2xl placeholder-gray-400"> <label asp-for="RememberMe"></label>
                </div>
                <p class="text-md mr-20 mb-3"> 
                    <a asp-action="ResetPassword" class="text-blue-600">رمز عبور خود را فراموش کرده اید؟</a>
                </p>
                <input value="ورود" class="transition-all hover:bg-red-600 cursor-pointer block mx-auto text-gray-50 rounded-lg bg-red-500 py-2 px-6 border-none" type="submit">
                <input asp-action="ExternalLogin" 
                        name="provider" 
                        value="@Model.ExternalLogin.Name" 
                        type="submit" class="transition-all hover:bg-red-600 cursor-pointer block mx-auto text-gray-50 rounded-lg bg-red-500 py-2 px-6 border-none" type="submit">
            </form>
            
            <div asp-validation-summary="All" class="text-red-800"></div>
        </div>
        <div class="red-back z-10"></div>
    </div>
</body>
</html>